.navbar {
  top: 0px;
  margin:0px;
  padding: 0px 2px 2px 3px;
  border-width: 2px;
  border-bottom: 1px solid #f5f5f6;
  height: 80px;
  width: 100%;
}

div.logo {
  width: 15%;
  height: 200px;
  float: left;
}

div.find {
  margin-left: 25%;
  height: 200px;
}

button.search {
  position:absolute;
  bottom: 2px;
  right: 5px;
  width: 24px;
  height: 24px;
}

img,a { border : none, outline: none; }

input.desktop-searchBar {
  font-family: Whitney;
  display: inline-block;
  float: center;
  font-size: 16px;
  height: 25px;
  line-height: 24px;
  width: 500px;
  color: #696e79;
}

